@import "../assets/icons/all.min.css";
@font-face {
    font-family: sans;
    src: url("../assets/fonts/IRANSansWeb.eot") format("eot"), url("../assets/fonts/IRANSansWeb.woff") format("woff"), url("../assets/fonts/IRANSansWeb.ttf") format("ttf"), url("../assets/fonts/IRANSansWeb.woff2") format("woff2");
}
@font-face {
    font-family: sans-l;
    src: url("../assets/fonts/IRANSansWeb_Light.eot") format("eot"), url("../assets/fonts/IRANSansWeb_Light.woff") format("woff"), url("../assets/fonts/IRANSansWeb_Light.ttf") format("ttf"), url("../assets/fonts/IRANSansWeb_Light.woff2") format("woff2");
}
@font-face {
    font-family: sans-md;
    src: url("../assets/fonts/IRANSansWeb_Medium.eot") format("eot"), url("../assets/fonts/IRANSansWeb_Medium.woff") format("woff"), url("../assets/fonts/IRANSansWeb_Medium.ttf") format("ttf"), url("../assets/fonts/IRANSansWeb_Medium.woff2") format("woff2");
}
@font-face {
    font-family: sans-fa;
    src: url("../assets/fonts/IRANSansWeb-fa.eot") format("eot"), url("../assets/fonts/IRANSansWeb-fa.woff") format("woff"), url("../assets/fonts/IRANSansWeb-fa.ttf") format("ttf"), url("../assets/fonts/IRANSansWeb-fa.woff2") format("woff2");
}

:root {
    --section-bgcolor: #f7f7f7;
}

$section-light-bgcolor: var(--section-bgcolor);

* {
    box-sizing: border-box;
    font-family: sans-fa, sans;
    &:focus {
        border: none;
        outline: none;
    }
}

.dark-mode {
    body {
        background-color: #003049;
        color: #fff;
    }
    --section-bgcolor: #284b63;
    input {
        color: #fff;
    }
}

body {
    background-color: #fff;
    transition: all 300ms ease-out;
    direction: rtl;
}

button {
    color: #fff;
    padding: 4px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-size: 15px;
}

nav {
    display: flex;
    align-items: center;
    background-color: $section-light-bgcolor;
    padding: 10px 15px;
    border-radius: 7px;
    justify-content: space-between;
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        li:first-child {
            margin-right: unset;
        }
    }
}

.button-con {
    cursor: default;
}

#dayIcon {
    position: relative;
    width: 20px;
    height: 20px;
    top: -3px;
    margin: 0 7px;
    fill: #9caec0;
}

#nightIcon {
    position: relative;
    width: 20px;
    height: 20px;
    top: -3px;
    margin: 0 7px;
    fill: #9caec0;
}

#dayIcon,
#nightIcon {
    cursor: pointer;
}

.toggle {
    display: none;
}

.toggle,
.toggle:after,
.toggle:before,
.toggle *,
.toggle *:after,
.toggle *:before,
.toggle + .toggle-button {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.toggle::-moz-selection,
.toggle:after::-moz-selection,
.toggle:before::-moz-selection,
.toggle *::-moz-selection,
.toggle *:after::-moz-selection,
.toggle *:before::-moz-selection,
.toggle + .toggle-button::-moz-selection {
    background: none;
}

.toggle::selection,
.toggle:after::selection,
.toggle:before::selection,
.toggle *::selection,
.toggle *:after::selection,
.toggle *:before::selection,
.toggle + .toggle-button::selection {
    background: none;
}

.toggle + .toggle-button {
    outline: 0;
    display: inline-block;
    width: 45px;
    height: 25px;
    position: relative;
    cursor: pointer;
    border: 2px solid #333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toggle + .toggle-button:after,
.toggle + .toggle-button:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.toggle + .toggle-button:after {
    right: 0;
}

.toggle + .toggle-button:before {
    display: none;
}

.toggle:checked + .toggle-button:after {
    right: 50%;
}

.toggle + .toggle-button {
    padding: 2px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border: 2px solid rgba(156, 174, 192, 0.27);
    border-radius: 2em;
}

.toggle + .toggle-button:after {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: rgba(156, 174, 192, 0.27);
    content: "";
    border-radius: 1em;
}

.toggle:checked + .toggle-button:after {
    left: 50%;
}

.row {
    display: flex;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: (100% / 12) * $i;
        padding-right: 10px;
        padding-left: 10px;
    }
}

.container {
    margin-right: 50px;
    margin-left: 50px;
}

.tools {
    h1 {
        text-align: center;
        margin-top: 40px;
    }
}

.card-tools {
    width: 100%;
    background-color: $section-light-bgcolor;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
    i {
        font-size: 70px;
        color: #3a86ff;
    }
    span {
        margin-top: 20px;
        font-size: 17px;
        font-family: sans-md;
    }
}

// .copyright {
//     position: fixed;
//     display: block;
//     top: 100vh;
//     p {
//         font-size: 14px;
//     }
// }

.links-page {
    margin-top: 80px;
    .container {
        margin-right: 30px;
        margin-left: 30px;
    }
    .content {
        h3 {
            margin-top: 10px;
        }
    }
}

a {
    text-decoration: none;
    color: unset;
}

.side {
    background-color: $section-light-bgcolor;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 7px;
    padding: 10px;
    li {
        a {
            display: block;
            width: 100%;
            padding: 10px 5px;
            cursor: pointer;
            &:hover,
            &.router-link-active {
                background-color: #ff006e;
                color: #fff;
                border-radius: 6px;
            }
        }
    }
}

.content {
    background-color: $section-light-bgcolor;
    width: 100%;
    border-radius: 7px;
    padding: 10px;
}

.group {
    position: relative;

    width: 100%;
    margin-bottom: 2rem;

    &.-material {
        > .field {
            height: 2.8rem;

            border-bottom: 1px solid #9e9e9e;
            background: transparent;

            &:focus,
            &:valid {
                border-bottom: 2px solid #4361ee;

                + .title {
                    top: -2px;

                    color: #4361ee;
                }
            }

            + .title {
                right: 0;
            }
        }
    }

    > .field {
        width: 100%;

        border: 0;
        outline: none;

        + .title {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            color: #9e9e9e;
            transition: 0.3s;
            font-size: 0.95rem;
            pointer-events: none;
        }

        &:focus,
        &:valid {
            + .title {
                transition: 0.3s;
                font-size: 0.8rem;
            }
        }
    }
}

.link-history {
    list-style: none;
    padding: 0;
    margin: 0 10px;
    li {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ccc5b9;
        align-items: center;
        padding: 5px 0;
        div {
            display: flex;
            flex-direction: column;
            a {
                color: #f72585;
                font-size: 14px;
            }
            p {
                font-size: 13px;
                margin-top: 2px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        i {
            cursor: pointer;
            color: #ff0a54;
            font-size: 20px;
        }
        &:last-child {
            border-bottom: unset;
        }
    }
}
